<div class="navbar navbar-inverse">
	<a class="navbar-brand" href="#">SPORT STORE</a>
</div>
<div class="panel panel-default row">
<div class="col-xs-3">
<a ng-repeat="item in data.products | unique:'category' " class="btn btn-block btn-default btn-lg">{{item}}</a></div>
<div class="col-xs-8">
<div class="well" ng-repeat="item in data.products">
	<h3>
    <strong>{{item.name}}</strong>
    <span class="pull-right label label-primary"> {{item.price | currency }}</span>
	</h3>
	<span class="lead">{{item.description}}</span>
</div>

</div>